.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  width: 80px;
  height: auto;
  align-self: flex-start;
}

.App-logo img {
  height: 100%;
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
}

.calendar-header {
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #222;
}

#calendar-name {
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
}

#calendar-subscriber-count {
  color: white;
  font-size: 16px;
}

.event-list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.event-box {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px;
  padding: 10px 15px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.event-box img {
  height: 100%;
  width: 100%;
  filter: brightness(50%);
}

.event-date, .event-info {
  position: absolute;
  color: white;
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 20px;
  margin: 20px;
}

.event-date {
  margin: 20px;
}


.event-name {
}

.event-time {
}
